<nav class="navbar navbar-expand-lg navbar-dark bg-dark cu-navbar-content">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="homePage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="menuCard">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="myCart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="underDevelopment">Specialities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="underDevelopment">Reservation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="underDevelopment">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="underDevelopment">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="underDevelopment">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
